################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Knowledge-Matrix/.vs/Knowledge-Matrix.slnx/FileContentIndex
